
<ion-content [fullscreen]="true">
  
  <div class="bg-darkRed h-screen flex flex-col items-center justify-between">

    <!-- Botón regresar -->
    <div class="w-full pt-6 px-6">
      <button type="button" [routerLink]="['/home']">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
      </button>
    </div>

    <!-- Parte superior -->
    <div class="text-start mb-6 px-10 w-full pt-10">
      <img src="../../assets/img/logo-cerna.jpg" alt="Logo Cerna S.R.L" class="w-24 mx-auto">
      <h2 class="text-2xl font-bold text-pureWhite">Bienvenido</h2>
      <p class="text-pureWhite">Inicia Sesión</p>
    </div>

    <!-- Parte inferior -->
    <div class="bg-white rounded-tl-3xl rounded-tr-3xl shadow-lg w-full h-3/4 px-10 overflow-y-auto">
      
      <form class="h-full">
        <div class="flex flex-col h-full gap-5 pt-10">
          <div>
          <!-- Campo para ingresar usuario -->
          <div class="mb-4 mb-5">
            <label class="block text-darkBlue font-semibold mb-2">Usuario</label>
            <div class="relative">
              <input type="text" placeholder="Nombre de usuario" class="border border-lightGray bg-lightGray rounded-full w-full py-2 pl-10 pr-4 text-darkBlue focus:outline-none">
              <i class="absolute left-3 top-2 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-darkBlue">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
              </i>
            </div>
          </div>
          <!-- Campo para ingresar contraseña -->
          <div class="mb-6">
            <label class="block text-darkBlue font-semibold mb-2">Contraseña</label>
            <div class="relative">
              <input type="password" placeholder="•••••••••" class="border border-lightGray bg-lightGray rounded-full w-full py-2 pl-10 pr-4 text-darkBlue focus:outline-none">
              <i class="absolute left-3 top-2 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-darkBlue">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg>
              </i>
              <button type="button" class="absolute right-3 top-2 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-darkBlue">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                </svg>
              </button>
            </div>
          </div>
          </div>
          <!-- Botones -->
          <div class="pb-5">
            <button [routerLink]="['/welcome']" style="border:solid 1px !important" class="border border-darkRed bg-darkRed text-white font-semibold py-2 px-4 rounded-full w-full mb-4 active:border-2 active:border-darkRed active:bg-white active:text-darkRed">Iniciar Sesión</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</ion-content>